.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    z-index: 1000; 
    backdrop-filter: blur(5px); 
}

.modal {
    background: #fcf4e9;
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    max-width: 500px; 
    width: 90%;
    font-weight: bold;
    line-height: 1.6rem;
    font-size: 15px;
    text-align: center;
}

.modal span {
    color: #ff8bcb;
}

.modal-content {
    text-align: center; 
}
